nav {
    width: 250px;
    height: 100%;
    position: fixed;
    top : 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    text-decoration: none;
    color : #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #555;
}